.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-left: 50px; /* مساحة للمكبرة من جهة اليسار */
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 20px; /* الزاوية اليسرى */
  transform: translateY(-50%);
  font-size: 30px;
  color: #1b5e20;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.search-icon:hover {
  transform: scale(1.2);
}